<div>
	<div class="container-fluid bornContainer">
		<div class="row">
			<div class="col-md-5 lead">
				<p data-ng-cloak>
					{{labels.aboutDesc1}}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="lead col-md-offset-8 col-md-4 col-xs-offset-1 text-right marginTop15">
				<p data-ng-cloak>
					{{labels.aboutDesc2}}
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid msDosContainer">
		<div class="row">
			<div class="lead text-right col-md-offset-7 col-md-4 col-sm-offset-7 col-xs-offset-3">
				<p data-ng-cloak>
					{{labels.aboutDesc3}}
				</p>
				<p data-ng-cloak>
					{{labels.aboutDesc4}}
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid uniContainer">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 text-center lead">
				<p data-ng-cloak>
					{{labels.aboutDesc5}}
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid webDevContainer">
		<div class="row">
			<div class="lead col-md-offset-8 col-md-4 text-right">
				<p data-ng-cloak>
					{{labels.aboutDesc6}}
				</p> 
			</div>
		</div>
		<div class="row">
			<div class="lead col-md-10 text-left">
				<p data-ng-cloak>
					{{labels.aboutDesc7}}
				</p>
			</div>
		</div>
	</div>
</div>